/* MIN WIDTH */
@media (min-width: 767px){
    header .logo-wrapper {
        width: 200px;
    }
    header .menu-wrapper {
        width: 85%;
        justify-content: center;
    }
    .main-menu {
        margin: 0 auto;
    }
    ul > .menu-item-has-children > a::after {
        content: url("../images/drop-down.png");
        padding: 0 0 0 5px;
    }
    .img-logo {
        max-width: 215px;
        max-height: 42px;
    }
    .search_wrapper .btn-search {
        margin-left: 0;
        position: relative;
        right: 0;
        bottom: 1px;
        z-index: 99;
    }
    header .menu-wrapper .main-menu li:hover > .submenu {
        display: block;
    }
    header .menu-wrapper .main-menu li.menu-item-has-children:hover > a:after {
        transform-origin: center center;
        animation: rotatespecial .5s linear;
        transform: rotate(-180deg);
    }
    .footer-submenu {
        margin-top: 10px;
    }
}

/* MAX WIDTH */
@media (max-width: 1199px) {
    header .hamburger {
        display: block;
        position: absolute;
        right: 15px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .hamburger-box {
        top: -5px;
    }
    header .container {
        padding: 0 15px
    }
    header .menu-wrapper .main-menu li:not(:last-child) {
        margin-right: 12px;
    }
    footer .container .menu-wrapper {
        width: 100%;
        margin-top: 55px;
        -webkit-column-gap: 10px;
        column-gap: 10px;
        row-gap: 20px;
        grid-template-columns: repeat(5, 1fr);
    }
    footer {
        padding: 40px 0 50px;
    }
    footer .container {
        padding: 0 40px;
    }
    footer .container .main-wrapper {
        margin: 0 auto;
        text-align: center;
    }
    footer .container .main-wrapper {
        margin: 0 auto;
        text-align: center;
    }
    footer .container .main-wrapper .social-wrapper {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    header .menu-wrapper {
        position: fixed;
        top: -200vh;
        display: block;
        left: 0;
        width: 100%;
        background: white;
        padding: 0 30px 0 13px;
        -webkit-box-shadow: 0px 1.88px 3.75px rgba(0, 0, 0, 0.075);
        box-shadow: 0px 1.88px 3.75px rgba(0, 0, 0, 0.075);
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    header .menu-wrapper .menu {
        display: block;
        transition: 0.5s all ease !important;
    }
    header .menu-wrapper.is-active {
        left: 0;
        height: 100%;
        transition: 0.5s all ease;
        top: 60px;
        bottom: inherit;
        display: block;
        width: 100%;
        transition: 0.5s all ease;
        padding-left: 0;
        padding-right: 0;
        overflow-y: scroll;
    }
    .btn-search {
        height: auto;
        padding: 18px 0 0 18px;
        width: auto;
        margin-left: 0;
        left: 0;
        top: 0;
        text-align: center;
    }
/* }
@media (max-width: 767px) { */
    .footer_menu_item {
        text-align: left;
        border-top: 1px solid #2B4A86;
    }
    .footer_menu_item:last-child{
        border-bottom: 1px solid #2B4A86;
        padding-bottom: 15px;
    }
    .footer_menu_title:after {
        position: absolute;
        top: 15px;
        right: 15px;
        line-height: 0;
        transform: translateY(-50%);
        animation: rotateBack .5s linear;
        transform-origin: center center;
        content: url("../images/drop-down-footer.png");
    }
    .widget_nav_menu {
        position: relative;
        border-bottom: 0px solid #F2F2F2;
        margin-top: 15px;
        padding: 5px 10px;
        /* display: flex; */
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        align-self: center;
        vertical-align: middle;
    }
    .footer_menu_item {
        text-align: left;
    }
    footer .container .menu-wrapper .footer_menu_item .footer_menu_title {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        display: flex;
        align-self: center;
        align-content: flex-start;
        margin-bottom: 0;
        align-items: center;
        flex-direction: row;
    }
    .footer-submenu {
        display: none;
        padding: 10px;
    }
    .showSubMenu ul.footer-submenu {
        padding: 10px;
    }
    .showSubMenu ul.footer-submenu li a{
        line-height: 20px;
    }
    .searchandmenu {
        height: 60vh;
        overflow-y: scroll;
        padding-top: 5px;
    }
    footer .container .main-wrapper {
        margin: 0 auto;
        text-align: left;
    }
    footer .container .main-wrapper .social-wrapper {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: left;
    }
    .footer-title-left{
        font-size: 16px;
        font-weight: 600;
    }
    footer .logo {
        width: 200px;
        height: 33px;
        --loader-delay-offset: 600ms !important;
        overflow: hidden!important;
        display: inline-block;
        position: relative;
    }
    footer .container .menu-wrapper {
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    footer .container .menu-wrapper {
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }
    header .container {
        height: 62px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: start;
    }
    
    
    main {
        padding-top: 60px
    }
    main.has-intro {
        padding-bottom: 30px;
        margin-bottom: 70px
    }
    header .logo-wrapper {
        line-height: 0;
        text-align: left;
        margin-left: -40px;
    }
    .logo {
        width: 215px;
        height: 31px;
        --loader-delay-offset: 4ms !important;
        overflow: hidden!important;
        display: inline-block;
        position: relative;
    }
    .form-search-wrapper {
        display: block;
        margin-top: 15px;
        width: 100%;
        clear: both;
        position: relative;
        padding: 0 15px;
    }
    header .form-search-wrapper .form-search {
        right: 0;
        width: 100%;
        top: 0;
        display: block;
        transform: scale(1);
        transition: 0.5s all ease;
        position: static;
        left: unset;
    }
    header .form-search-wrapper .form-search input {
        padding: 15px 10px 12px 48px;
        position: static;
        width: 100%;
        height: 56px;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
        border: 1px solid #A6B0C0;
        border-radius: 4px;
        margin: 0 0px 0px;
        color: #A9ACAF;
    }
    .btn-search-form {
        height: auto;
        padding: 18px 0 0 18px;
        width: auto;
        margin-left: 0;
        left: 0;
        top: 0;
        text-align: center;
        background: transparent;
        border: none;
    }
    .btn-search-form:after {
        content: url("../images/search-icon-small.svg");
        opacity: 0.5;
    }
    header .menu-wrapper .main-menu li:not(:last-child) {
        margin-right: 0;
    }
    
    header .menu-wrapper .main-menu li {
        border-bottom: 0px solid #F2F2F2;
        margin-top: 15px;
        padding: 0 0;
        position: relative;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        
    }
    .open_menu_children{
        display: block;
        background: transparent;
        width: 100%;
        height: 45px;
        position: absolute;
        top: 0px;
        right: 0;
        left: 0px;
    }
    .open_menu_children:before {
        position: absolute;
        top: 29px;
        right: 29px;
        line-height: 0;
        transform: translateY(-50%);
        animation: rotateBack .5s linear;
        transform-origin: center center;
        content: url("../images/arrow-down-small.svg");
    }
    header .menu-wrapper .main-menu .submenu {
        display: none;
        position: static;
        width: 100%;
        left: 0;
        top: 0px;
        background: #fff;
        box-shadow: none;
    }
    
    header .menu-wrapper .main-menu li a {
        padding-left: 24px;
        padding-right: 10px;
        padding-bottom: 15px;
        padding-top: 15px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.03em;
    }
    
    header .menu-wrapper .main-menu .submenu li {
        padding-left: 24px;
        padding-right: 10px;
    }
    header .menu-wrapper .main-menu .submenu li a {
        padding: 12px 10px 12px 15px;
        display: flex;
        width: 100%;
        align-content: space-around;
        flex-direction: row;
        justify-content: space-between;
    }
    .is-active .buy-coin-wrapper{
        padding: 10px 15px;
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        background: #FFFFFF;
    }
    .buy-coin-wrapper .btn-buy-coin {
        display: inline-block;
        padding: 12px 15px;
        border-radius: 3px;
        -webkit-box-shadow: 0px 2px 5px rgb(0 0 0 / 12%);
        box-shadow: 0px 2px 5px rgb(0 0 0 / 12%);
        font-size: 14px;
        font-weight: 500;
        width: 100%;
        text-align: center;
    }
    header .menu-wrapper .main-menu li.showSubMenu > .open_menu_children:before {
        transform: rotate(-180deg);
        top: 24px;
        right: 29px;
        animation: rotate .5s normal;
    }
    .main-content {
        padding: 15px;
    }
    .member-item {
        margin-bottom: 10px;
    }
    .content_title_section{
        text-shadow: none;
    }
    .content_title_section h5{
        font-size: 24px;
        line-height: 28px;
    }
    .content_title_section p{
        font-size: 14px;
        line-height: 20px;
    }
    footer {
        padding: 40px 0 5px;
    }
    footer .container .copyright{
        text-align: left;
    }
    footer .container {
        padding: 0 15px;
    }
}

@media (max-width: 767px) {
    .container{
        padding: 0 10px;
    }
    .content_title_section h1{
        font-size: 32px;
    }
    .content_title_section .desc{
        padding: 0;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
@keyframes rotatespecial {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
@keyframes rotateBack {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}